/Client/.vs/
/Client/build/Path of CPP.exe
/Client/build/Path of CPP.pdb
/Client/Debug/
/Client/Release/
/Client/x64/Debug/
*.ipch
*.vsidx
*.lock
*.db-wal
*.opendb
*.db-shm
*.db
.vs/
.vs/PoC/v17/.suo
.vs/PoC/v17/fileList.bin